.backLink {
    display: inline-flex;
    align-items: center;
    color: #333;
    text-decoration: none;
    margin-bottom: 1.5rem;
    transition: color 0.2s ease;
    font-size: 0.9rem;
}

.backLink:hover {
    color: #666;
}

.backIcon {
    width: 1rem;
    height: 1rem;
    margin-right: 0.5rem;
}

.header {
    margin-bottom: 2rem;
}

.title {
    font-family: var(--font-serif);
    font-size: 2.5rem;
    color: #333;
    margin-bottom: 1rem;
    font-weight: 400;
    text-align: center;
}


@media (min-width: 1024px) {
    .title {
        font-size: 3rem;
        margin-bottom: 2rem;
    }
}