.heroImage {
  height: 100vh;
  width: 100%;
  background-image: url('./assets/chim.png');
  background-size: cover;
  background-position: center;
  display: flex;
  color: white;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem
}

.chimera {
  width: 18rem;
  height: auto;
  align-self: center;
  pointer-events: none;
}

.onboardDealershipButton {
  background-color: white;
  color: black;
  border-radius: 10rem;
  padding: 0.8rem 2rem;
  cursor: pointer;
  transition: background-color 0.4s ease;
}

.onboardDealershipButton:hover {
  background-color: #dadada;
}

.comparisonView {
  padding: 1rem;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 7rem;
  justify-content: center;
  align-items: center;
}

.comparisonDetail {
  text-align: center;
  font-weight: lighter;
  padding-top: 1rem;
  text-transform: uppercase;
  opacity: 0.95;
}

.comparisonImage {
  border-radius: 1rem;
  aspect-ratio: 1;
  object-fit: cover;
  transform: scale(1);
  transition: transform 0.4s ease;
  cursor: pointer;
}

.comparisonImage:hover {
  /* Let it expand to natural size (or 100% of container width) */
  transform: scale(1.05);
}

.comparisonView > a {
  width: 18%;
}

/* Stacking vertically for smaller screens */
@media (max-width: 768px) {
  .comparisonView {
    gap: 5rem;
  }

  .comparisonView > a {
    width: 70%;
  }
}

.tagline {
  text-align: center;
  font-weight: lighter;
  text-transform: uppercase;
  padding: 0rem 1rem;
}

.content {
  padding: 2rem;
  text-align: center;
  font-weight: lighter;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.content > h2 {
  text-transform: uppercase;
}