.heroImage {
  height: 100vh;
  width: 100%;
  background-image: url('./assets/ChimeraBackground.png');
  background-size: cover;
  background-position: center;
  display: flex;
  color: white;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 3rem;
  gap: 2rem;
  align-items: center;
}

.chimera {
  width: 18rem;
  height: auto;
  align-self: center;
  pointer-events: none;
}

.comparisonView {
  padding: 1rem;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 7rem;
  justify-content: center;
  align-items: center;
}

.comparisonDetail {
  text-align: center;
  font-weight: lighter;
  padding-top: 1rem;
  opacity: 0.90;
  color: rgb(173, 173, 173);
}

.comparisonImage {
  border-radius: 1rem;
  aspect-ratio: 1;
  object-fit: cover;
  transform: scale(1);
  transition: transform 0.4s ease;
  cursor: pointer;
}

.comparisonImage:hover {
  /* Let it expand to natural size (or 100% of container width) */
  transform: scale(1.05);
}

.comparisonView>a {
  width: 18%;
}

/* Stacking vertically for smaller screens */
@media (max-width: 768px) {
  .comparisonView {
    gap: 5rem;
  }

  .comparisonView>a {
    width: 70%;
  }
}

.tagline {
  text-align: center;
  font-weight: lighter;
  text-transform: uppercase;
  padding: 0rem 1rem;
}

.content {
  padding: 4rem;
  text-align: center;
  font-weight: lighter;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.content>h1 {
  text-transform: uppercase;
  color: #E9C1A7;
}

.leftTextAlighn {
  text-align: start;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.horizontalLayout {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  align-items: center;
}

.videoImageContainer {
  width: 28%;
  height: auto;
}

.leftTextAlighn>* p {
  font-size: large;
  color: rgb(173, 173, 173);
  font-size: x-large
}

.leftTextAlighn> p {
  font-size: x-large;
}

.leftTextAlighn>* h2 {
  color: rgb(142, 109, 69);
}


.glassButton {
  display: inline-block;
  padding: 1rem;
  border: 0;
  text-decoration: none;
  border-radius: 15px;
  background-color: rgb(248, 245, 240, 0.15);
  border: 1px solid rgb(248, 245, 240, 0.15);
  backdrop-filter: blur(30px);
  color: rgb(248, 245, 240);
  font-size: medium;
  letter-spacing: 0.1rem;
  cursor: pointer;
  text-transform: uppercase;
  width: fit-content;
  align-self: center;
  transition: background-color 0.4s ease;
  border-radius: 10rem;
}

.glassButton:hover {
  background-color: rgba(255,255,255,0.25);
}

.glassButtonDark {
  display: inline-block;
  padding: 1rem;
  border: 0;
  text-decoration: none;
  border-radius: 15px;
  background-color: rgb(171, 138, 98, 0.15);
  border: 1px solid rgb(171, 138, 98, 0.15);
  backdrop-filter: blur(30px);
  color: rgb(142, 109, 69);
  font-size: medium;
  letter-spacing: 0.1rem;
  cursor: pointer;
  text-transform: uppercase;
  width: fit-content;
  align-self: center;
  transition: background-color 0.4s ease;
  border-radius: 10rem;
}